body {
    background-color: brown;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* padding-bottom: -5vh; */
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.nav-wrapper {
    background-color: gray;
}

.page-footer {
    background-color: gray;
    /* position: relative; bottom: 4.5vh; */
}

.wrapper {
    height: 80vh;
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    position: relative; bottom: 2vh;
}

.container-a {
    height: 100%;
    width: 60%;
}

.container-b {
    border-style: solid;
    border-color: black;
    height: 99%;
    width: 37%;
    position: relative; left: 1vw; top: 2vh;
    background-color: whitesmoke;

}

.container-x {
    border-style: solid;
    border-color: black;
    height: 32%;
    width: 95%;
    position: relative; left: 1vw; top: 2vh;
    background-color: whitesmoke;
}

.container-y {
    height: 12%;
    width: 95%;
    position: relative; left: 1vw; top: 4vh;
}

.container-z {
    height: 47%;
    width: 95%;
    position: relative; left: 1vw; top: 3.5vh;
}

.input-container {
    height: 6.5vh;
    width: 5vw;
    border-style: solid;
    border-color: black;
    position: relative; left: 4vw; bottom: 5.5vh;
    background-color: whitesmoke;
}

.add-item {
    position: relative; left: 10vw; bottom: 11.7vh;
    height: 6vh;
    width: 10vw;
    /* border-style: outset; */
}

.menu {
    margin: auto;
    position: relative; left: 15vw;
}

.menu-items {
    position: relative; left: 2vw;
}

.container {
    position: relative; bottom: 1.25vh;
}

.quantity-2 {
    position: relative; bottom: 4.5vh; left: 2vw;
}

.info-input-container-1 {
    height: 6.5vh;
    width: 39vw;
    border-style: solid;
    border-color: black;
    background-color: whitesmoke;
    position: relative; bottom: 5vh;
}

.info-input-container-2 {
    height: 6.5vh;
    width: 39vw;
    border-style: solid;
    border-color: black;
    background-color: whitesmoke;
    position: relative; bottom: 7vh;
}

.info-input-container-3 {
    height: 6.5vh;
    width: 39vw;
    border-style: solid;
    border-color: black;
    background-color: whitesmoke;
    position: relative; bottom: 9vh;
}

.person-info-1 {
    position: relative; left: 2vw; bottom: 4vh;
}

.person-info-2 {
    position: relative; left: 2vw; bottom: 6vh;
}

.person-info-3 {
    position: relative; left: 2vw; bottom: 8vh;
}

.deliver {
    position: relative; bottom: 3vh; left: 1vw;
    height: 6vh;
    width: 39vw;
}

.ramaJama {
    background-size: contain;
    max-height: 60vh;
    /* height: 100vh; */
    /* width: 100vw; */
}

.order {
    height: 8vh;
    width: 30vw;
    margin: auto;
    position: relative; bottom: 8vh;
}

.containerf {
    display: flex;
    flex-direction: row;
    position: relative; bottom: 5vh;
}

.card-panel {
    height: 23vh;
    width: 30vw;
}

.teal {
    background-color: gray;
}

.cardTitle {
    color: whitesmoke;
    position: relative; bottom: 2.5vh;
}

.brand-logo {
    position: relative; left: 3vw;
}

.brand-logo-2 {
    position: relative; right: 3vw;
}

.white-text {
    position: relative; bottom: 1vh;
}

.formButton {
    margin: auto;
    position: relative; bottom: 3vh;
}